*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens{
    width: 130px;
    height: 130px;
    margin-left: 40px;
    border: solid 1px #ffffff;
}